<p>lifecycle-demo works!</p>
<div>
    <h2>Lifecycle Demo Component</h2>
    <p>Check the console to see the lifecycle methods in action.</p>
    <input [(ngModel)]="inputData" placeholder="Change input to trigger ngOnChanges" />
    <input [(ngModel)]="parentInputData" placeholder="Type here to change inputData" />
    <p>{{ 'this is a custom pipe' | customUppercase }}</p>

    <p [appHoverHighlight]="'lightblue'" [defaultColor]="'lightgray'">Hover over this text to see a highlight effect.</p>
    <button [appHoverHighlight]="'lightgreen'">Hover over this button</button>
    <p id="test-id" appHoverHighlight> This will be Blue byDefault Because Of Custom Directive</p>

</div>
  
<pre> 
    Grandparent
        Parent
            Child
            Sibling
</pre>

<!-- app.component.html -->
<bot-grandparent></bot-grandparent>
